################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/EasySave/.vs/EasySave
/EasySaveLogger/.vs/EasySaveLogger

/EasySave/EasySave/obj
/EasySave/EasySave/obj/Debug
/EasySave/EasySave/obj/Release