################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/EasySave/.vs/EasySave
/EasySaveLogger/.vs/EasySaveLogger

/EasySave/EasySave/obj
/EasySave/EasySave/obj/Debug
/EasySave/EasySave/obj/Release
/EasySaveLogger/obj/Release/net8.0
/EasySaveLogger/obj/Debug/net8.0/EasySaveLogger.AssemblyInfo.cs
/EasySaveLogger/obj/Debug/net8.0/EasySaveLogger.AssemblyInfoInputs.cache
/EasySaveLogger/obj/Debug/net8.0/EasySaveLogger.assets.cache
/EasySaveLogger/obj/Debug/net8.0/EasySaveLogger.GeneratedMSBuildEditorConfig.editorconfig
